<div class="backdrop">
    <div class="modal">
         <form id="createPostForm">
        <input type="text" id="titleInput" name="title" placeholder="Заголовок" required>
        <input type="text" id="categoryInput" name="category" placeholder="Категорія" required>
        <textarea id="contentInput" placeholder="Зміст" name="text" required></textarea>
        <button type="submit">Створити пост</button>
        </form>
    </div>
</div>