{{!-- <div class="backdrop">
    <div class="modal"> --}}
        <div modal-backdrop="" class="bg-gray-900 bg-opacity-50  fixed inset-0 z-40 backdrop">
            <div id="defaultModal"
                class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full max-h-full flex">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow ">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                            <h3 class="text-lg font-semibold text-gray-900 ">
                                edit Post
                            </h3>
                            <button id="closeModalBtn" type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                                data-modal-toggle="crud-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form id="editPostForm" class="p-4 md:p-5">
                            <div class="grid gap-4 mb-4 grid-cols-2">
                                <div class="col-span-2">
                                    <label for="titleInput"
                                        class="block mb-2 text-sm font-medium text-gray-900 ">Title</label>
                                    <input type="text" name="title" id="titleInput"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                                        placeholder="Type post name" required="">
                                </div>
                                <div class="col-span-2">
                                    <label for="categoryInput"
                                        class="block mb-2 text-sm font-medium text-gray-900">Category</label>
                                    <input type="text" name="category" id="categoryInput"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                                        placeholder="Type post category" required="">
                                </div>
                                {{!-- <div class="col-span-2 sm:col-span-1">
                                    <label for="category"
                                        class="block mb-2 text-sm font-medium text-gray-900 ">Category</label>
                                    <select id="category"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">
                                        <option selected="">Select category</option>
                                        <option value="TV">TV/Monitors</option>
                                        <option value="PC">PC</option>
                                        <option value="GA">Gaming/Console</option>
                                        <option value="PH">Phones</option>
                                    </select>
                                </div> --}}
                                <div class="col-span-2">
                                    <label for="contentInput" class="block mb-2 text-sm font-medium text-gray-900 ">Post
                                        Content</label>
                                    <textarea name="text" id="contentInput" rows="4"
                                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                                        placeholder="Write product description here"></textarea>
                                </div>
                            </div>
                            <button type="submit"
                                class="text-white inline-flex items-center bg-pink-700 rounded-full hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium text-sm px-5 py-2.5 text-center">
                                edit Post
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{!--
    </div>
</div> --}}
{{!-- <div class="backdrop">
    <div class="modal">
        <form id="createPostForm">
            <input type="text" id="titleInput" name="title" placeholder="Заголовок" required>
            <input type="text" id="categoryInput" name="category" placeholder="Категорія" required>
            <textarea id="contentInput" placeholder="Зміст" name="text" required></textarea>
            <button type="submit">Створити пост</button>
        </form>
    </div>
</div> --}}